<div class="container my-5">
  <div class="row">
    <div class="col-12" style="text-align: end;">
      <app-boton-login></app-boton-login>
    </div>

    <div class="col-12" style="text-align: center;">
      <h2>Te Damos la Bienvenida</h2>
      <h1>{{usuario?.name}}</h1>
      <h3>a Player Juan</h3>
      <span>Un nuevo sistema de Streaming que te acompañara a donde tu quieras</span>
    </div>
  </div>
</div>
<!-- Agregar información a la vista para mostrar los datos -->
<div class="container">
  <div class="row">
    <div class="col"><input type="search" class="form-control" placeholder="Ingresa el año, titulo, película o serie" [(ngModel)]="busqueda"></div>
    <div class="col-auto">
      <button class="btn btn-{{ordenar.ascendente && ordenar.dato == 'title' ? 'success' : 'primary'}}" (click)="asignarOrdenar('title', 'texto')">
        Nombre {{ordenar.ascendente && ordenar.dato == 'title' ? 'Des' : 'As'}}cendente
        <fa-icon class="text-{{ordenar.ascendente && ordenar.dato == 'title' ? 'danger' : 'warning'}}" [icon]="ordenar.ascendente && ordenar.dato == 'title' ? arrowDown : arrowUp"></fa-icon>
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-{{ordenar.ascendente && ordenar.dato == 'releaseYear' ? 'success' : 'primary'}}" (click)="asignarOrdenar('releaseYear', 'numero')">
        Año {{ordenar.ascendente && ordenar.dato == 'releaseYear' ? 'Des' : 'As'}}cendente
        <fa-icon class="text-{{ordenar.ascendente && ordenar.dato == 'releaseYear' ? 'danger' : 'warning'}}" [icon]="ordenar.ascendente && ordenar.dato == 'releaseYear' ? arrowDown : arrowUp"></fa-icon>
      </button>
    </div>
  </div>

  <div [style.height.px]="funciones.obtenerHeight(117)" style="overflow-x: hidden">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4" *ngFor="let dato of (datos | filtro:atributosDatos:busqueda) | order:ordenar">
        <app-vista-datos [dato]="dato"></app-vista-datos>
      </div>
    </div>
    <ng-template [ngIf]="(datos | filtro:atributosDatos:busqueda).length == 0">
      No se encontró ningún registro con "{{busqueda}}"" verifica e intenta de nuevo por favor
    </ng-template>
  </div>
</div>
