<div class="container my-5">
  <div class="row">
    <div class="col-12" style="text-align: end;">
      <app-boton-login></app-boton-login>
    </div>

    <div class="col-12" style="text-align: center;">
      <h2>Te Damos la Bienvenida</h2>
      <h1>{{usuario?.name}}</h1>
      <h3>a Player Juan</h3>
      <span>Un nuevo sistema de Streaming que te acompañara a donde tu quieras</span>
    </div>
  </div>
</div>
<!-- Agregar información a la vista para mostrar los datos -->
<div class="container">
  <div class="row">
    <div class="col"><input type="search" class="form-control" placeholder="Ingresa el texto a buscar" [(ngModel)]="busqueda"></div>
    <div class="col-auto">
      <button class="btn btn-{{ordenar.ascendente && ordenar.dato == 'nombre' ? 'success' : 'primary'}}" (click)="asignarOrdenar('nombre', 'texto')">
        Nombre {{ordenar.ascendente && ordenar.dato == 'nombre' ? 'Des' : 'As'}}cendente
        <fa-icon class="text-{{ordenar.ascendente && ordenar.dato == 'nombre' ? 'danger' : 'warning'}}" [icon]="ordenar.ascendente && ordenar.dato == 'nombre' ? arrowDown : arrowUp"></fa-icon>
      </button>
    </div>
    <div class="col-auto"><button class="btn btn-{{ordenar.ascendente && ordenar.dato == 'id' ? 'success' : 'primary'}}" (click)="asignarOrdenar('id', 'numero')">
      Año {{ordenar.ascendente && ordenar.dato == 'id' ? 'Des' : 'As'}}cendente
      <fa-icon class="text-{{ordenar.ascendente && ordenar.dato == 'id' ? 'danger' : 'warning'}}" [icon]="ordenar.ascendente && ordenar.dato == 'id' ? arrowDown : arrowUp"></fa-icon>
    </button></div>
  </div>

  <div [style.height.px]="funciones.obtenerHeight(117)" style="overflow-x: hidden">
    <div *ngFor="let dato of datos | filtro:atributosDatos:busqueda">
      {{dato.title}}
    </div>
    <ng-template [ngIf]="(datos | filtro:atributosDatos:busqueda).length == 0">
      No se encontró ningún registro con "{{busqueda}}"" verifica e intenta de nuevo por favor
    </ng-template>
  </div>
</div>
